h1 {
    font-family: Courier New;
    font-weight: 400;
    color: #03a1fc;
    background-color: black;
}

.menu {
    float: left;
    width: 20%;
    text-align: center;
    background-color: #074685;
    padding: 8px;
    margin-top: 7px;
    display: block;
    width: 100%;
    color: white;
    box-sizing: border-box;
}

.container {
    float: left;
    width: 95%;
    max-width: 1174px;
    min-width: 0;
    padding: 0 20px;
    color: #03a1fc;
    background-color: black;
    margin: 20px;
    left: 0;
    right: 0;
    border-left: thick solid #03a1fc;
    box-sizing: border-box;
}

canvas {
    background-color: black;
}

.firstgraph {
    float: left;
    width: 60%;
    max-width: 540px;
    min-width: 0;
    background-color: transparent;
    border: 5px solid black;
    padding: 10px;
}

.secondgraph {
    float: right;
    width: 60%;
    max-width: 540px;
    min-width: 0;
    background-color: transparent;
    border: 5px solid black;
    padding: 10px;
}

#search {
    display: flex;
    float: left;
    flex-direction: row;
    width: 20%;
    margin: 20px;
}

@media screen and (max-width: 620px) {
    .menu, .container, .firstgraph, .secondgraph {
        width: 100%;
    }
}

input: {
    display: flex;
    float: left;
    flex-direction: row;
    width: 15%;
}




